<%- include('partials/header.ejs') %>

<div class="portal-page">
    <div class="container">
        <h1 class="index-heading">Welcome to The Multiverse Of Colors</h1>
            <div class="papper"><p class="index-description"><span>Dear Rakshitha,</span><br> In every universe, there exists a version of me who loves <span>YOU</span>. With every universe filled with different people, places, dimensions, time, colors but what similar into these universes is my endless <span>LOVE</span> for <span>YOU</span>.<br>Through this portal, you'll journey with me across the universes to see our events in different verse and care.
            <br><br> <span>Yours Raj💗</span>
            </p>
          </div>
    </div>
  <div class="section">
    <div class="index-footer">
      <p>So step into this colorful world, where every chapter of our story awaits, and together, we will explore the endless shades of love.</p>
      <a href="/chapter1">Are you ready to begin?</a>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>
